.login-page{
  background-image:url("https://wallpapercave.com/wp/wp9764143.jpg");
  height:100%;
  text-align: center;
background-repeat: no-repeat;
}
.login-button{
    padding:8px;
    margin-top: 290px;
    margin-bottom: 290px;
}
  